<!doctype html>
<html lang="en" ng-app="myApp">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="Lowe's Assessment">
      <meta name="viewport" content="width=device-width">
      <title>Vaishakh - Interview Test</title>
      <!-- <link rel="stylesheet" type="text/css" href="assets/css/reset.css" /> -->
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="css/reset.css" />
      <link rel="stylesheet" type="text/css" href="css/custom.css" />
   </head>
   <body ng-controller="listingController">
      
		<div class="products">
		<!-- header-->
		<header class="container">
			<div class="col-md-6 logo">
				Logo here
			</div>
		</header>
		<!-- content -->
	      <section class="container">
	      	<div class="row">
				<div class="box">
					<div class="col-md-3 col-sm-3">
						<figure>
							<img ng-src={{detailItem.imageUrls.md}} alt="" class="img-responsive">
						</figure>
					</div>
					<div class="col-md-6 col-sm-6 ">
						<h3>{{detailItem.brand}} {{detailItem.description}}</h3>
						<ul>
							<li ng-repeat="item in detailItem.marketingBullets">{{item}}</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3 ">
						<button class="btn" ng-click="alertPrice(detailItem.pricing.price.retail)">Add to Cart</button>
						<p class="price">${{detailItem.pricing.price.retail}}</p>
					</div>
				</div>
	      	</div>
	      </section>
	      <section class="container product-view">
	      	<div class="row">
	      		<div class="col-md-4 col-sm-6" ng-repeat="item in items">
	      			<div class="box">
		      			<figure>
							<!-- <img src="img/whirlpool-washing-machine.png" alt="" class="img-responsive"> -->
							<img ng-src={{item.imageUrls.md}} alt="" class="img-responsive">
						</figure>
						<h3>{{item.brand}} {{item.description}} </h3>
						<p class="price">${{item.pricing.price.retail}}</p>
						<button class="btn" ng-click="viewMore(item)">View More</button>
					</div>
	      		</div>
	      	</div>
	      </section>
	      <!--footer-->
	      <footer class="container">
	      	<p>© 2008‐2017 test.com. All Rights Reserved.</p>
	      </footer>
		</div>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
      <script type="text/javascript" src="app/app.js"></script>
   </body>
</html>